@import "variables";

.sign {
    background: $gray-200;
    padding: 150px 0;
    .wrapper {
        width: 400px;
        height: 480px;
        margin: 0 auto;
        background: $white;
        display: block;
        padding: $spacer-7;
        box-shadow: $shadow;
        border-radius: $round;
        .title {
            color: $primary;
            text-align: center;
            margin-bottom: $spacer-5;
        }
        .change-mobile {
            font-size: .9rem;
        }
        .line-title {
            @include linetitle();
            margin: $spacer-6 0 $spacer-2;
        }
        .other {
            img {
                width: 100%;
                max-width: 26px;
                max-height: 26px;
                height: auto;
            }
        }
    }
    @include fullscreen('.wrapper');
}
