<!doctype html>
<html lang="zh-ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} CodeSay - 源码分析社区</title>
    {% block css %}
        <link type="text/css" rel="stylesheet" href="/css/dist/bootstrap.min.css" class="rel">
        <link type="text/css" rel="stylesheet" href="/css/dist/base.css" class="rel">
        <link type="text/css" rel="stylesheet" href="/css/fonts/css/ionicons.min.css">
    {% endblock %}
</head>
<body>
{% block header %}
    {% include '@common/layout/header.twig' %}
{% endblock %}
<div style="background: #fff;">
    {% block main %}{% endblock %}
</div>
{% block footer %}
    {% include '@common/layout/footer.twig' %}
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/js/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/dist/popper.min.js"></script>
    <script type="text/javascript" src="/js/dist/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>